
.panda-card{
    border: 0;
}
.first-section{
    background-color: rgb(239, 231, 241);
}
.panda-card-footer{
    display: flex;
    background-color: white;
    border: 0;
}


.card-img{
   
    background-color: rgb(242, 244, 247);
    
    
    
    
}
.last{
    border-radius: 15px;
    
    align-content: center;
}


